<div class="columns-container">
<div class="column1" style="display:inline-block">

  <img src="../../assets/Profile.JPG">
  <div class="point">
    <a (click)="scrollToSection('about')"><li>About</li></a><br>
    <a (click)="scrollToSection('experience')"><li>Experience</li></a><br>
    <a (click)="scrollToSection('certifications')"><li>Certifications</li></a><br>
    <a (click)="scrollToSection('education')"><li>Education</li></a><br>
    <a (click)="scrollToSection('skills')"><li>Skills</li></a><br>
    <a (click)="scrollToSection('projects')"><li>Projects</li></a><br>
    <a (click)="scrollToSection('extra')"><li>Extra Curriculars</li></a><br>
  </div>
</div>
<div class="column2">

  <div id="about">
    <h1>AGS <div style="display:inline-block;color: #bd5d38!important;">Ruchika</div></h1>
    <h3 style="color: #868e96;">Flat No.8A, R.E.Apartments, No.33, Anna Colony 1st Street, Besant Nagar, Chennai-600 090, <br>Tamil Nadu, India</h3>
    <a href="mailto:agsruchika@gmail.com" class="email"><h3><i>AGSRUCHIKA@EMAIL.COM</i></h3></a>
    <h3 style="color:#868e96;">+919025473907</h3>
    <br>
    <p style="font-size: 1.1rem;">A motivated Software Engineer with in-depth knowledge of cloud computing, frontend frameworks and development tools and technologies, seeking a position in a growth-oriented company where I can use my skills and collaborate with different clients, application teams, developers, engineers, and project managers to provide the best design solutions and suggest appropriate systems based on the code or applications.</p>

  </div>

<br>

<div id="experience">
  <h1>Experience</h1>

  <div class="experience-item">
    <h3 style="font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;font-size: 1.55rem">Software Engineer</h3>
    <p style="color: #bd5d38!important;">Feb 2023 – Present</p>
    <p style="color: #343a40;  text-transform:uppercase;font-weight: 500;
    font-family: 'Saira Extra Condensed',serif;
    font-size: 1.25rem;">Maveric Systems Limited, Chennai.</p>
    <ul>
      <li>Completed Full Stack Development Training.</li>
      <li>Worked on Customer Session Portal which is an advisory platform for the relationship manager with the customer for briefing on the customer portfolio using SpringBoot, Angular JS, HTML, SCSS, MySql, GitLab, DevOps.</li>
    </ul>
  </div>
  <br>
  <div class="experience-item">
    <h3 style="font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;font-size: 1.55rem">Senior Software Developer</h3>
    <p style="color: #bd5d38!important;">Dec 2020 – Jun 2022</p>
    <p style="color: #343a40;  text-transform:uppercase;font-weight: 500;
    font-family: 'Saira Extra Condensed',serif;
    font-size: 1.25rem;">Capgemini Technology and Services India Limited, Chennai.</p>
    <ul>
      <li>Responsible to ensure effective Design, Development, Validation and Support activities, to assure that our clients are satisfied with the high levels of service in the technology domain.</li>
      <li>Worked to gather the requirements and specifications to understand the client requirements in a detailed manner and translate the same into system requirements.</li>
      <li>Monitoring product cloud resource consumption and mitigate risks when needed, updates, identifying production issues and implementing integrations that meet customer needs, performing scheduled and unscheduled maintenance of cloud environments.</li>
      <li>Resolving customer issues including complex technical scenarios integrating several cloud. Worked in Azure IAAS to implement services like Azure Network, Azure Compute and storage, Azure Backup, Azure Monitoring, Azure Update management, Azure Policy</li>
    </ul>
  </div>
  <br>
  <div class="experience-item">
    <h3 style="font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;font-size: 1.55rem">Business Functional Analyst</h3>
    <p style="color: #bd5d38!important;">Jan 2020 – Aug 2020</p>
    <p style="color: #343a40;  text-transform:uppercase;font-weight: 500;
    font-family: 'Saira Extra Condensed',serif;
    font-size: 1.25rem;">Valeo India Private Limited, Chennai</p>
    <ul>
      <li>Responsible to demonstrate the workings in ITESOFT, application for Monitoring and solving incidents rose for Automobiles invoice.</li>
      <li>Provide teams and stakeholders with documented guidance Document results of JIRA workflows and process audits.</li>
    </ul>
  </div>
</div>

<br>

<div id="certifications">
  <h1>Certifications</h1>
  <ul>
    <li>Microsoft Certified Azure Microsoft Security, Compliance, and Identity Fundamentals (SC-900)-2022</li>
    <li>Microsoft Certified Azure Administrator Associate (AZ-104)-2021</li>
    <li>Microsoft Certified Azure Fundamentals (AZ-900)-2021</li>
    <li>Full Stack Developer Course at Besant Technologies-2023</li>
    <li>AWS, Azure, Git/Github Course from Coursera-2021</li>
    <li>Networking using Packet Tracer from Coursera-2021</li>
    <li>Core Java & JDBC at EduBridge Learning Pvt Ltd-2020</li>
    <li>Java Coding at GreensTechnology-2019</li>
    <li>CAMBRIDGE ENGLISH Council of Europe Level B1-2017</li>
  </ul>
</div>

<br>

<div id="education">
  <h1>Education</h1>

  <div class="education-item">
    <h3 style="font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;font-size: 1.55rem">St.Joseph's College of Engineering</h3>
    <p style="color: #bd5d38!important;">Jun 2016 – Apr 2020</p>
    <p style="color: #343a40;  text-transform:uppercase;font-weight: 500;
    font-family: 'Saira Extra Condensed',serif;
    font-size: 1.25rem;">Electronics and Communication Engineering - &nbsp;76%</p>
  </div>
  <br>

  <div class="education-item">
    <h3 style="font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;font-size: 1.55rem">Vana Vani Matriculation Higher Secondary School</h3>
    <p style="color: #bd5d38!important;">Jun 2014 – Apr 2016</p>
    <p style="color: #343a40;  text-transform:uppercase;font-weight: 500;
    font-family: 'Saira Extra Condensed',serif;
    font-size: 1.25rem;">Higher Secondary - &nbsp;76%</p>
  </div>
  <br>

  <div class="education-item">
    <h3 style="font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;font-size: 1.55rem">Sri Sankara Senior Secondary School</h3>
    <p style="color: #bd5d38!important;">Jun 2012 – Apr 2014</p>
    <p style="color: #343a40;  text-transform:uppercase;font-weight: 500;
    font-family: 'Saira Extra Condensed',serif;
    font-size: 1.25rem;">Secondary - &nbsp;84%</p>
  </div>

</div>

<br>

<div id="skills">
  <h1>Skills</h1>
  <ul>
    <li>Angular-15</li>
    <li>Spring Boot- RestApi</li>
    <li>Azure/AWS cloud</li>
    <li>Git/GitHub</li>
    <li>Networking</li>
    <li>Linux/Windows Sever Administration</li>
    <li>DevOps</li>
    <li>Core Java</li>
    <li>MySql, Html & CSS</li>
    <li>MS Office</li>
  </ul>
</div>

<br>

<div id="projects">
  <h1>Projects</h1>
  <ul>
    <li><b style="color:#343a40;">Profile Builder:</b> <br>Worked on Profile Builder Webpage responsive to all devices which is used for creating profiles of various customers with CRUD operations using the technology SpringBoot, Angular JS, HTML, SCSS, MySql, GitLab, DevOps.<br>
      <a href="https://profile-builder-frontend.vercel.app/login" style="color: #bd5d38;">Direct to Profile Builder Website</a></li><br>
    <li><b style="color:#343a40;">Stop Watch:</b> <br>Responsive Stopwatch & Timer developed using Angular JS, HTML, SCSS<br>
      <a href="https://angular-stop-watch-lxoe.vercel.app/stopwatch" style="color: #bd5d38;">Direct to StopWatch/Timer Website</a></li><br>
    <li><b style="color:#343a40;">Portfolio:</b> <br> Briefing details of self like Experience, Education,  <br>
      <a href="https://portfolio-dv8h0v6w2-agsruchika.vercel.app/home" style="color: #bd5d38;">Direct to Portfolio Website</a></li>
  </ul>
</div>

<br>

<div id="extra">
  <h1>Extra Curriculars</h1>
  <ul>
    <li>Won Gold medal in Basketball at Youth Rural
    <li>Games Federation Of India, Goa-2016</li>
    <li>Participated in Inter District Basketball</li>
    <li>Championship for Junior Men & Women, Chennai-2015</li>
    <li>National and International Karate Champion for 10 consecutive years-2004 to 2014</li>
    <li>Indian Army National Cadet Corps: ACertificate holder ; Participated in variousCamps-2013</li>
  </ul>
</div>

</div>
</div>
